.navbar {
  background: #fff;
  border-bottom: none !important;
  height: 20px;
  color: #fff;
  box-shadow: 0 1px 10px #4c4c4c;
}
.navbar .phones {
  float: left;
  height: 65px;
  padding-top: 3px;
}
.navbar .phone {
  display: block;
  color: #808080;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.2px;
}
.navbar.navbar-default .navbar-brand {
  color: #000;
  font-size: 26px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  margin-right: 20px;
  padding: 0;
}
.navbar.navbar-default .navbar-brand img {
  width: 48px;
  display: inline;
  margin: 0 10px 10px 0;
}
.navbar.navbar-default .navbar-brand i {
  color: #fff;
  font-size: 29px;
  padding-bottom: 10px;
  display: inline-block;
}
.navbar .navbar-nav > li > a {
  font-family: 'Open Sans';
  color: #000 !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: background 0.1s ease-in-out;
}
.navbar .navbar-nav > li > a:hover {
  color: #fff;
  background: #f2f2f2 !important;
}
.main {
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  background: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: #fff;
  padding-top: 60px;
  background: rgba(0,0,0,0.4);
}
.main .main-image {
  width: 100%;
  margin: 30px 0 20px;
  box-shadow: 0 0 5px #000;
}
.main .discount-icon {
  width: 128px;
}
.main .price {
  font-size: 48px;
  font-weight: bold;
  padding: 10px;
  color: #ff7d48;
}
.main .price--new {
  color: #82fb33;
}
.main .main-content {
  z-index: 3;
  text-align: center;
}
.main .gallery-button-main {
  border-radius: 50%;
  width: 64px;
  height: 64px;
  margin: 0;
}
.main .main-description {
  color: #fff;
  font-size: 24px;
  font-family: 'Open Sans';
}
.main .overlay {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  min-width: 100vw;
  z-index: 2;
}
.main h1 {
  color: #fff;
  font-family: 'Open Sans';
  text-transform: uppercase;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.main h1 strong {
  color: #6db33f;
}
.main button,
.main .main-button,
.main .main-button-brown {
  background: #6db33f;
  color: #fff;
  width: 250px;
  height: 80px;
  border: none;
  font-size: 26px;
  font-weight: bold;
  transition: background 0.1s ease-in-out;
  margin-top: 50px;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0px #353535;
}
.main button:hover,
.main .main-button:hover,
.main .main-button-brown:hover {
  background: #578f32;
}
.main .main-button-brown {
  background: #a52a2a;
  margin-left: 20px;
}
.main .main-button-brown:hover {
  background: #842222;
}
.discount {
  height: 250px;
  font-size: 26px;
  color: #fff;
}
.discount .row {
  margin: 0;
  height: 100%;
}
.discount .red-block {
  background: #ff4040;
  height: 100%;
  padding: 40px;
}
.discount .blue-block {
  background: #2871a5;
  height: 100%;
  padding: 40px;
}
.about {
  padding: 50px 0 100px;
}
.about p {
  margin-top: 30px;
  font-size: 18px;
}
.about div {
  font-size: 20px;
}
.about img {
  width: 400px;
  box-shadow: 0px 3px 10px 2px #444;
  margin: 0 auto;
  display: block;
}
.about .gallery-button {
  background: #af1d1d;
  color: #fff;
  width: 200px;
  height: 60px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  transition: background 0.1s ease-in-out;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0px #353535;
  margin-top: 30px;
  display: block;
}
.about .gallery-button:hover {
  background: #8c1717;
}
.photos .row {
  margin: 0;
}
.photos .row div {
  padding: 0;
}
.photos img {
  width: 100%;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
}
.photos img:hover {
  opacity: 0.8;
}
.specs {
  background: #6db33f;
  color: #fff;
  padding: 50px 0;
  box-shadow: inset 0 0 10px 0px #3a3a3a;
}
.specs .item-list {
  margin-top: 70px;
}
.specs .item-list .item {
  margin-bottom: 50px;
  text-align: center;
}
.specs .item-list .item i {
  font-size: 128px;
}
.specs .item-list .item p {
  color: #f3f3f3;
  margin-top: 20px;
  font-size: 22px;
}
.specs .item-list .item img {
  width: 200px;
}
@media screen and (max-width: 992px) {
  .specs .item-list .item img {
    width: 150px;
  }
}
.shipping {
  padding: 50px 0;
}
.shipping h2 {
  margin-bottom: 50px;
}
.shipping .heading-container {
  display: block !important;
}
.shipping .row {
  margin: 0;
}
.shipping .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.shipping .subsection--dark {
  background: #eee;
}
.shipping .subsection .container > div img {
  margin: 0 auto;
  display: block;
}
.shipping .subsection p {
  font-size: 20px;
  color: #808080;
}
@media screen and (max-width: 768px) {
  .shipping .subsection p {
    font-size: 16px;
  }
}
.shipping img {
  width: 200px;
}
@media screen and (max-width: 992px) {
  .shipping img {
    width: 150px;
  }
}
@media screen and (max-width: 768px) {
  .shipping img {
    max-width: 94px;
  }
}
@media screen and (max-width: 480px) {
  .shipping img {
    max-width: 64px;
  }
}
.shipping .step {
  float: left;
  margin-right: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 64px;
  height: 64px;
  text-align: center;
  font-size: 32px;
  border-radius: 50%;
  border: 2px solid #000;
  display: none;
}
.offer {
  color: #fff;
}
.offer h2 {
  color: #fff;
  padding-bottom: 50px;
  text-align: center;
}
.offer .list {
  padding: 50px 0;
  background: #af1d1d;
}
.offer .list-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
@media screen and (max-width: 768px) {
  .offer .list-wrapper {
    display: block;
  }
}
.offer img {
  max-width: 300px;
  display: block;
  margin: 0 auto;
  float: right;
}
.offer .offer-list {
  list-style: disc;
}
.offer .offer-list li {
  color: #fff;
  font-size: 28px;
}
.order {
  padding: 50px 0;
  background: #7b1414 !important;
  box-shadow: inset 0 0 20px #4e0404;
}
.order h2 {
  color: #ffdd73;
  text-align: center;
}
.order .discount-icon {
  width: 128px;
}
.order .price {
  font-size: 48px;
  font-weight: bold;
  padding: 10px;
  color: #ff7d48;
}
.order .price--new {
  color: #82fb33;
}
.order .price-block {
  text-align: center;
  margin-bottom: 50px;
}
.order .message {
  text-align: center;
  color: #fff;
  font-size: 28px;
}
.order form {
  text-align: center;
  padding: 0 0 50px 0;
}
.order form div {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}
.order form i {
  position: absolute;
  top: 3px;
  left: 10px;
  font-size: 32px;
  padding-top: 5px;
  color: #ba5d04;
}
.order form input {
  border: none;
  height: 50px;
  background: #540c0c;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding: 0 25px 0 50px;
}
.order form input:focus {
  outline: none !important;
}
.order form button {
  font-size: 26px;
  background: #24bd24;
  border: none;
  padding: 15px;
  border-radius: 4px;
  margin-top: 20px;
  box-shadow: 0px 2px 5px #290808;
}
.order form button:hover {
  background: #1d971d;
}
.reviews {
  background: #ffdc5d;
  padding: 50px 0;
  color: #000;
}
.reviews .reviews-block-wrapper {
  position: relative;
}
.reviews .reviews-block-wrapper img {
  position: absolute;
  bottom: -64px;
  left: -64px;
  width: 128px;
  z-index: 10000;
}
@media screen and (max-width: 992px) {
  .reviews .reviews-block-wrapper img {
    left: 0;
  }
}
.reviews .reviews-block-wrapper .fa-quote-left {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 3000;
  font-size: 42px;
  color: #929292;
}
.reviews .reviews-block-wrapper .fa-quote-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3000;
  font-size: 42px;
  color: #929292;
}
.reviews .reviews-block {
  background: #fff;
  padding: 60px;
  margin-top: 20px;
  box-shadow: 0 0px 5px 0px #444;
}
.reviews .reviews-block .review {
  font-size: 22px;
  color: #929292;
  text-align: center;
  outline: none;
}
@media screen and (max-width: 786px) {
  .reviews .reviews-block .review {
    font-size: 18px;
  }
}
.reviews .add-review-button {
  background: #a52a2a;
  color: #fff;
  width: 200px;
  float: right;
  height: 60px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  transition: background 0.1s ease-in-out;
  border-radius: 4px;
  box-shadow: 0 1px 3px 0px #353535;
  margin-top: 20px;
}
.reviews .add-review-button:hover {
  background: #842222;
}
.email {
  position: relative;
  color: #fff;
  padding: 50px 0;
}
.email .email-overlay {
  z-index: -2;
}
.email .container {
  z-index: 1000;
}
.email button {
  background: #6db33f;
  color: #fff;
  width: 200px;
  float: right;
  height: 60px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  transition: background 0.1s ease-in-out;
}
.email button:hover {
  background: #578f32;
}
footer {
  background: #fff;
  text-align: center;
  padding: 20px 0;
}
footer .vk-icon {
  margin: 0 auto;
  display: inline-block;
  font-size: 28px;
  margin: 0 0 20px 0;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  border: 1px solid #000;
  color: #000;
}
footer .vk-icon:hover {
  background: #000;
  color: #fff;
}
footer ul {
  padding: 0;
}
footer ul li {
  display: inline-block;
  color: #fff;
  padding: 0 10px;
  font-size: 18px;
}
footer ul li a,
footer ul li a:visited {
  color: #a5a5a5;
  font-weight: bold;
  text-decoration: none !important;
}
footer ul li a:hover,
footer ul li a:visited:hover {
  text-decoration: none;
  color: #717171;
}
footer .copyright {
  display: inline-block;
  font-size: 16px;
  color: #545454;
  font-weight: 100;
}
::-webkit-input-placeholder {
  color: #f0f0f0;
}
::-moz-placeholder {
  color: #f0f0f0 /* Firefox 19+ */;
}
:-moz-placeholder {
  color: #f0f0f0 /* Firefox 18- */;
}
:-ms-input-placeholder {
  color: #f0f0f0;
}
body {
  height: 1000px;
}
.up .inn,
.down .inn {
  background: #ffd941 !important;
  color: #ff3c3c !important;
}
section {
  width: 100vw !important;
}
.email-form {
  margin-top: 30px;
}
h1 {
  font-family: 'Lato';
  color: #fff;
  text-align: center;
  font-size: 72px;
}
.flip-clock-label {
  display: none;
}
.nav-list-link.active {
  background: #f2f2f2;
}
h2 {
  text-transform: uppercase;
}
.bx-wrapper {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  border: none;
}
.bx-wrapper .bxslider img {
  width: 100vw;
  height: 100vh;
}
.parallax-window {
  height: 600px;
  background: transparent;
}
h2 {
  font-weight: bold;
}
.input-field,
textarea {
  display: inline-block;
  width: 100%;
  background: rgba(183,183,183,0.66);
  border: none;
  padding: 10px;
  font-size: 22px;
  color: #fff;
  margin: 0 0 30px 0;
}
.input-field:focus,
textarea:focus {
  outline: none !important;
}
textarea {
  height: 200px;
}
.email-overlay {
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
}
.flip-clock-divider .flip-clock-label {
  color: #cacaca;
}
.flip-clock-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 50px 0;
  margin: 0;
}
.testimonial {
  background: url("../img/testimonial-bg.png");
}
.testimonial-carousel .item {
  padding: 25px 40px 40px;
  background: rgba(34,34,34,0.8);
  border-radius: 4px;
}
.testimonial-carousel .item p {
  font-style: italic;
  font-size: 24px;
}
.testimonial-carousel .item .client img,
.testimonial-carousel .item .client ul {
  display: inline-block;
  vertical-align: middle;
}
.testimonial-carousel .item .client img {
  height: 50px;
  width: 50px;
  max-width: 100%;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
  border-radius: 4px;
}
.testimonial-carousel .item .client-info {
  margin-left: 10px;
}
.testimonial-carousel .item .client-info li {
  text-align: left;
}
.testimonial-carousel .item .client-info li:first-child {
  font-size: 18px;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
  background: #e74c3c;
}
/* 
 *  Core Owl Carousel CSS File
 *  v1.3.3
 */
/* clearfix */
/*
.owl-carousel .owl-wrapper:after 
    content: "."
    display: block
    clear: both
    visibility: hidden
    line-height: 0
    height: 0
*/
/* display none until init */
/*.owl-carousel
    display: none
    position: relative
    width: 100%
    -ms-touch-action: pan-y

.owl-carousel .owl-wrapper
    display: none
    position: relative
    -webkit-transform: translate3d(0px, 0px, 0px)

.owl-carousel .owl-wrapper-outer
    overflow: hidden
    position: relative
    width: 100%

// .owl-stage-outer
//     height: 300px

.owl-carousel .owl-wrapper-outer.autoHeight
    -webkit-transition: height 500ms ease-in-out
    -moz-transition: height 500ms ease-in-out
    -ms-transition: height 500ms ease-in-out
    -o-transition: height 500ms ease-in-out
    transition: height 500ms ease-in-out

    
.owl-carousel .owl-item
    float: left
    width: 945px !important
    

.owl-controls .owl-page,
.owl-controls .owl-buttons div
    cursor: pointer

.owl-controls 
    -webkit-user-select: none
    -khtml-user-select: none
    -moz-user-select: none
    -ms-user-select: none
    user-select: none
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0)

*/
/*
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item
    -webkit-backface-visibility: hidden
    -moz-backface-visibility:    hidden
    -ms-backface-visibility:     hidden
    -webkit-transform: translate3d(0,0,0)
    -moz-transform: translate3d(0,0,0)
    -ms-transform: translate3d(0,0,0)*/

/*# sourceMappingURL=app.css.map */
