.navbar {
  background: rgba(47,47,47,0.9) !important;
  border-bottom: none !important;
  font-size: 22px;
  height: 70px;
  color: #fff;
}
.phones {
  float: left;
  height: 65px;
  padding-top: 13px;
}
.phone {
  display: block;
  color: #c0c0c0;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1.2px;
}
.navbar-default .navbar-brand {
  color: #fff;
  font-size: 36px;
  font-weight: bold;
  transition: all 0.2s ease-in-out;
  padding: 10px 0 0 0;
  margin-right: 20px;
}
.navbar-default .navbar-brand img {
  width: 48px;
  display: inline;
  margin: 0 10px 10px 0;
}
.navbar-default .navbar-brand i {
  color: #fff;
  font-size: 29px;
  padding-bottom: 10px;
  display: inline-block;
}
.navbar-default .navbar-brand:hover {
  color: #ffa500;
  border-color: #6db33f !important;
}
.navbar-default .navbar-brand:hover i {
  color: #6db33f;
}
.navbar-default .navbar-brand:focus {
  color: #fff;
}
.navbar-default .navbar-brand:focus i {
  color: #fff;
}
.navbar-nav > li > a {
  padding: 25px 10px;
  font-family: 'Open Sans';
  color: #fff !important;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: background 0.1s ease-in-out;
}
.navbar-nav > li > a:hover {
  color: #fff;
  background: #6db33f !important;
}
.main {
  min-height: 100vh;
  min-width: 100vw;
  background-size: cover;
  background: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  position: relative;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.main .main-content {
  z-index: 3;
  text-align: center;
}
.main .main-description {
  color: #fff;
  font-size: 24px;
  font-family: 'Open Sans';
}
.main .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  min-width: 100vw;
  background-color: rgba(0,0,0,0.6);
  z-index: 2;
}
.main h1 {
  color: #fff;
  font-family: 'Open Sans';
  text-transform: uppercase;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.main h1 strong {
  color: #6db33f;
}
.main .main-button,
.main .main-button-brown {
  background: #6db33f;
  color: #fff;
  width: 250px;
  height: 80px;
  border: none;
  font-size: 26px;
  font-weight: bold;
  transition: background 0.1s ease-in-out;
  margin-top: 50px;
}
.main .main-button:hover,
.main .main-button-brown:hover {
  background: #578f32;
}
.main .main-button-brown {
  background: #a52a2a;
  margin-left: 20px;
}
.main .main-button-brown:hover {
  background: #842222;
}
.discount {
  height: 250px;
  font-size: 26px;
  color: #fff;
}
.discount .row {
  margin: 0;
  height: 100%;
}
.discount .red-block {
  background: #ff4040;
  height: 100%;
  padding: 40px;
}
.discount .blue-block {
  background: #2871a5;
  height: 100%;
  padding: 40px;
}
.about {
  background: #f1f1f1;
  padding: 50px 0 100px;
}
.about p {
  margin-top: 30px;
  font-size: 18px;
}
.about div {
  font-size: 20px;
}
.about img {
  width: 400px;
  box-shadow: 0px 3px 10px 2px #444;
  margin: 0 auto;
  display: block;
}
.about .gallery-button {
  background: #6db33f;
  color: #fff;
  width: 200px;
  height: 60px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  transition: background 0.1s ease-in-out;
}
.about .gallery-button:hover {
  background: #578f32;
}
.photos .row {
  margin: 0;
}
.photos .row div {
  padding: 0;
}
.photos img {
  width: 100%;
  cursor: pointer;
  transition: opacity 0.1s ease-in-out;
}
.photos img:hover {
  opacity: 0.8;
}
.specs {
  background: #6db33f;
  color: #fff;
  padding: 50px 0;
}
.specs .item-list {
  margin-top: 70px;
}
.specs .item-list .item {
  margin-bottom: 50px;
  text-align: center;
}
.specs .item-list .item i {
  font-size: 128px;
}
.specs .item-list .item p {
  color: #f3f3f3;
  margin-top: 20px;
  font-size: 22px;
}
.shipping {
  padding: 50px 0;
}
.shipping .heading {
  font-size: 48px;
  color: #5d5d5d;
  display: block;
}
.shipping .row {
  margin: 0;
}
.shipping .container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
.shipping .subsection--dark {
  background: #eee;
}
.shipping img {
  max-width: 300px;
}
.shipping .step {
  float: left;
  margin-right: 10px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  width: 64px;
  height: 64px;
  text-align: center;
  font-size: 32px;
  border-radius: 50%;
  border: 2px solid #000;
}
.offer {
  color: #fff;
}
.offer h2 {
  color: #fff;
  padding-bottom: 50px;
}
.offer .list {
  padding: 50px 0;
  background: #af1d1d;
}
.offer .countdown-wrapper {
  background: #f00;
  background: #7b1414 !important;
  box-shadow: inset 0 0 20px #4e0404;
}
.offer .list-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}
@media screen and (max-width: 768px) {
  .offer .list-wrapper {
    display: block;
  }
}
.offer img {
  max-width: 300px;
  display: block;
  margin: 0 auto;
  float: right;
}
.offer .conuntdown-wrapper {
  background: #c51616;
  border: 2px solid #000;
}
.offer .offer-list {
  list-style: disc;
}
.offer .offer-list li {
  color: #fff;
  font-size: 28px;
}
.offer form {
  text-align: center;
  padding: 0 0 50px 0;
}
.offer form div {
  display: inline-block;
  position: relative;
  margin: 0 10px;
}
.offer form i {
  position: absolute;
  top: 3px;
  left: 10px;
  font-size: 32px;
  padding-top: 5px;
  color: #ba5d04;
}
.offer form input {
  border: none;
  height: 50px;
  background: #540c0c;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  padding: 0 25px 0 50px;
}
.offer form input:focus {
  outline: none !important;
}
.offer form button {
  font-size: 26px;
  background: #008000;
  border: none;
  padding: 15px;
  border-radius: 4px;
  margin-top: 20px;
  box-shadow: 0px 2px 5px #290808;
}
.offer form button:hover {
  background: #060;
}
.reviews {
  background: #f1f1f1;
  padding: 50px 0;
  color: #000;
}
.reviews .reviews-block-wrapper {
  position: relative;
}
.reviews .reviews-block-wrapper .fa-quote-left {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 3000;
  font-size: 42px;
  color: #929292;
}
.reviews .reviews-block-wrapper .fa-quote-right {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 3000;
  font-size: 42px;
  color: #929292;
}
.reviews .reviews-block {
  background: #fff;
  padding: 60px;
  margin-top: 20px;
  box-shadow: 0 2px 3px 0px #c7c7c7;
}
.reviews .reviews-block .review {
  font-size: 24px;
  color: #929292;
  text-align: center;
}
.reviews .add-review-button {
  background: #a52a2a;
  color: #fff;
  width: 200px;
  float: right;
  height: 60px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  transition: background 0.1s ease-in-out;
}
.reviews .add-review-button:hover {
  background: #842222;
}
.email {
  position: relative;
  color: #fff;
  padding: 50px 0;
}
.email .email-overlay {
  z-index: -2;
}
.email .container {
  z-index: 1000;
}
.email button {
  background: #6db33f;
  color: #fff;
  width: 200px;
  float: right;
  height: 60px;
  border: none;
  font-size: 20px;
  font-weight: bold;
  transition: background 0.1s ease-in-out;
}
.email button:hover {
  background: #578f32;
}
footer {
  height: 100px;
  background: #211e1d;
  text-align: center;
  padding: 20px 0;
}
footer ul {
  padding: 0;
}
footer ul li {
  display: inline-block;
  color: #fff;
  padding: 0 10px;
  font-size: 18px;
}
footer ul li a {
  color: #6d6d6d;
}
footer ul li a:hover {
  text-decoration: none;
  color: #bdbdbd;
}
footer .copyright {
  display: inline-block;
  font-size: 18px;
  color: #545454;
}
::-webkit-input-placeholder {
  color: #f0f0f0;
}
::-moz-placeholder {
  color: #f0f0f0 /* Firefox 19+ */;
}
:-moz-placeholder {
  color: #f0f0f0 /* Firefox 18- */;
}
:-ms-input-placeholder {
  color: #f0f0f0;
}
body {
  height: 1000px;
}
h1 {
  font-family: 'Lato';
  color: #fff;
  text-align: center;
  font-size: 72px;
}
h2 {
  text-transform: uppercase;
}
.bx-wrapper {
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  border: none;
}
.bx-wrapper .bxslider img {
  width: 100vw;
  height: 100vh;
}
.parallax-window {
  height: 600px;
  background: transparent;
}
h2 {
  font-weight: bold;
}
.input-field,
textarea {
  display: inline-block;
  width: 100%;
  background: rgba(183,183,183,0.66);
  border: none;
  padding: 10px;
  font-size: 22px;
  color: #fff;
  margin: 0 0 30px 0;
}
.input-field:focus,
textarea:focus {
  outline: none !important;
}
textarea {
  height: 200px;
}
.email-overlay {
  background: rgba(0,0,0,0.4);
  width: 100%;
  height: 600px;
  position: absolute;
  top: 0;
  left: 0;
}
.flip-clock-divider .flip-clock-label {
  color: #cacaca;
}
.flip-clock-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  padding: 50px 0;
  margin: 0;
}

/*# sourceMappingURL=app.css.map */
