.about
    display: flex
    justify-content: space-between
    align-items: center
    flex-wrap: wrap

    .description 
        flex-basis: 60%
        padding-right: 100px

        p
            font-size: 22px

    div
        font-size: 20px

    img
        flex-basis: 40%
        border: 2px solid green
