.about
    padding: 50px 0 100px
    //background-image: url('../img/about-background.png')
    // box-shadow: inset 0 0 10px 0px #3a3a3a

    p
        margin-top: 30px
        font-size: 18px

    div
        font-size: 20px

    img
        width: 400px
        box-shadow: 0px 3px 10px 2px #444444
        margin: 0 auto
        display: block 

    .gallery-button
        background: #af1d1d
        color: white
        width: 200px
        height: 60px 
        border: none
        font-size: 20px
        font-weight: bold
        transition: background 0.1s ease-in-out
        border-radius: 4px
        box-shadow: 0 1px 3px 0px #353535
        margin-top: 30px
        display: block

        &:hover
            background: darken(#af1d1d, 20%)

