.discount
    height: 250px
    font-size: 26px
    color: white

    .row
        margin: 0
        height: 100%

    .red-block
        background: #ff4040
        height: 100%
        padding: 40px 

    .blue-block
        background: #2871a5
        height: 100%
        padding: 40px 
