.email
    position: relative
    color: white
    padding: 50px 0

    .email-overlay
        z-index: -2 

    .container
        z-index: 1000

    button
        background: $green
        color: white
        width: 200px
        float: right
        height: 60px 
        border: none
        font-size: 20px
        font-weight: bold
        transition: background 0.1s ease-in-out

        &:hover
            background: darken($green, 20%)
