footer
    background: white //#211e1d //#15230c
    text-align: center
    padding: 20px 0

    ul
        padding: 0

        li
            display: inline-block
            color: white
            padding: 0 10px
            font-size: 18px

            a
                color: #a5a5a5
                font-weight: bold

                &:hover
                    text-decoration: none
                    color: #717171
                    

    .copyright
        display: inline-block
        font-size: 18px
        color: #545454
        font-weight: 100
