.main
    min-height: 100vh 
    min-width: 100vw
    background-size: cover
    background: none
    display: flex
    justify-content: center
    align-items: center
    position: relative
    flex-wrap: wrap
    color: white
    padding-top: 60px
    background: #dc3b2f
    box-shadow: inset 0 0 10px 0px #3a3a3a

    .main-image
        width: 100%
        margin: 30px 0 20px
        box-shadow: 0 0 5px black

    .discount-icon
        width: 128px

    .price
        font-size: 48px
        font-weight: bold
        padding: 10px
        color: rgb(255, 172, 166)

        &--new
            color: #82fb33

    .main-content
        z-index: 3 
        text-align: center

    .gallery-button-main
        border-radius: 50%
        width: 64px
        height: 64px
        margin: 0

    .main-description
        color: white
        font-size: 24px
        font-family: 'Open Sans'

    .overlay
        position: absolute
        top: 0
        left: 0
        min-height: 100vh 
        min-width: 100vw
        z-index: 2

    h1
        color: white
        font-family: 'Open Sans'
        text-transform: uppercase
        flex-basis: 100%

        strong
            color: $green

    button,
    .main-button,
    .main-button-brown
        background: $green
        color: white
        width: 250px
        height: 80px 
        border: none
        font-size: 26px
        font-weight: bold
        transition: background 0.1s ease-in-out
        margin-top: 50px
        border-radius: 4px
        box-shadow: 0 1px 3px 0px #353535

        &:hover
            background: darken($green, 20%)

    .main-button-brown
        background: brown
        margin-left: 20px

        &:hover
            background: darken(brown, 20%)
