.navbar
    z-index: 4000
    background: $brown !important
    border-bottom: none !important
    font-size: 22px
    height: 70px
    color: white
  //  border-top: 5px solid #6db33f

    .phones
        float: left
        height: 65px 
        padding-top: 10px

    .phone
        display: block
        color: silver
        font-size: 16px
        font-weight: 400 
        letter-spacing: 1.2px

    &.navbar-default .navbar-brand
        color: white
        font-size: 36px
        font-family: 'Lato'
        margin-right: 100px
        padding: 20px 0 0 0
        border-bottom: 1px solid white
        transition: all 0.2s ease-in-out

        i
            color: white
            font-size: 29px
            padding-bottom: 10px
            display: inline-block

        &:hover
            color: orange
            border-color: $green !important
            i
                color: $green

        &:focus
            color: white
            i
                color: white

    .navbar-nav > li > a
        padding: 25px 10px 
        font-family: 'Open Sans'
        color: white !important
        text-transform: uppercase
        font-weight: bold
        font-size: 14px
        transition: background 0.1s ease-in-out

        &:hover
            color: white
            background: $green !important
