.order
    padding: 50px 0
    background: darken(#af1d1d, 30%) !important
    box-shadow: inset 0 0 20px #4e0404

    h2
        color: #ffdd73
        text-align: center
        
    .discount-icon
        width: 128px

    .price
        font-size: 48px
        font-weight: bold
        padding: 10px
        // color: rgb(255, 172, 166)
        // color: #ff320e
        color: #ff7d48

        &--new
            color: #82fb33
    
    .price-block
        text-align: center
        margin-bottom: 50px
    
    .message
        text-align: center
        color: white
        font-size: 28px
    
    form
        text-align: center
        padding: 0 0 50px 0

        div
            display: inline-block
            position: relative
            margin: 0 10px

        i
            position: absolute
            top: 3px
            left: 10px
            font-size: 32px
            padding-top: 5px
            color: #ba5d04


        input
            border: none
            height: 50px
            background: #540c0c
            //box-shadow: 0 0 5px 5px black
            font-size: 20px
            font-weight: bold
            color: white
            padding: 0 25px 0 50px

            &:focus
                outline: none !important

        button
            font-size: 26px
            background: #24bd24
            border: none
            padding: 15px
            border-radius: 4px
            margin-top: 20px
            box-shadow: 0px 2px 5px #290808

            &:hover
                background: darken(#24bd24, 20%)