.reviews
    background: #6db33f
    padding: 50px 0
    color: white

    .reviews-block
        height: 200px
        background: #62993d
        padding: 30px
        margin-top: 20px

        .review
            font-size: 24px
            color: #f1f1f1
            text-align: center

    .add-review-button
        background: brown
        color: white
        width: 200px
        float: right
        height: 60px 
        border: none
        font-size: 20px
        font-weight: bold
        transition: background 0.1s ease-in-out

        &:hover
            background: darken(brown, 20%)
