.reviews
    //background: #e0b30f//blue//#f1f1f1 //#6db33f
    padding: 50px 0
    color: black
    background-image: url('../img/wood_pattern.png')

    .reviews-block-wrapper
        position: relative

        img
            position: absolute
            bottom: -64px
            left: -64px
            width: 128px
            z-index: 10000

            @media screen and (max-width: 992px)
                left: 0

        .fa-quote-left
            position: absolute
            top: 20px 
            left: 20px 
            z-index: 3000
            font-size: 42px
            color: #929292

        .fa-quote-right
            position: absolute
            bottom: 20px 
            right: 20px 
            z-index: 3000
            font-size: 42px
            color: #929292

    .reviews-block
        background: white//#62993d
        padding: 60px
        margin-top: 20px
        box-shadow: 0 0px 5px 0px #444444

        .review
            font-size: 22px
            color: #929292
            text-align: center

            @media screen and (max-width: 786px)
                font-size: 18px

    .add-review-button
        background: brown
        color: white
        width: 200px
        float: right
        height: 60px 
        border: none
        font-size: 20px
        font-weight: bold
        transition: background 0.1s ease-in-out
        border-radius: 4px
        box-shadow: 0 1px 3px 0px #353535

        &:hover
            background: darken(brown, 20%)
