.specs
    background: #6db33f
    color: white
    padding: 50px 0

    .item-list
        margin-top: 70px

        .item 
            margin-bottom: 50px
            text-align: center
            i
                font-size: 128px

            p
                color: #f3f3f3
                margin-top: 20px
                font-size: 22px
