// utils/colors
@import 'utils/colors'

// sections
@import 'sections/navbar'
@import 'sections/main'
@import 'sections/discount'
@import 'sections/about'
@import 'sections/photos'
@import 'sections/specs'
@import 'sections/shipping'
@import 'sections/offer'
@import 'sections/reviews'
@import 'sections/email'
@import 'sections/footer'

::-webkit-input-placeholder 
    color: #f0f0f0 
::-moz-placeholder
    color: #f0f0f0 /* Firefox 19+ */
:-moz-placeholder
    color: #f0f0f0 /* Firefox 18- */
:-ms-input-placeholder
    color: #f0f0f0

body
    height: 1000px
//    margin-top: 70px
    
h1
    font-family: 'Lato'
    color: white
    text-align: center
    font-size: 72px

h2
    text-transform: uppercase

.bx-wrapper
    margin: 0
    position: absolute
    top: 0 
    left: 0
    width: 100vw
    border: none

    .bxslider
        img
            width: 100vw
            height: 100vh 


.parallax-window
    height: 600px
    background: transparent

h2
    font-weight: bold


// forms
.input-field,
textarea
    display: inline-block
    width: 100%
    background: rgba(183, 183, 183, 0.66)
    border: none
    padding: 10px
    font-size: 22px
    color: white
    margin: 0 0 30px 0 

    &:focus
        outline: none  !important

textarea
    height: 200px

.email-overlay
    background: rgba(0,0,0,0.4)
    width: 100%
    height: 600px
    position: absolute
    top: 0
    left: 0

// flipclock
.flip-clock-divider .flip-clock-label
    color: #cacaca

.flip-clock-wrapper
    display: flex
    justify-content: center
    align-items: center
    padding: 50px 0
    margin: 0
