// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// utils/colors
@import 'utils/colors'

// sections
@import 'sections/navbar'
@import 'sections/main'
@import 'sections/about'

body
    background: $brown